<div class="row">
    <div class="col-md-12 col-sm-12 mx-auto col-width-auto text-center">
        <div id="cardRegister" class="card text-center">
            <div class="card-header">
                Registro
            </div>
            <div class="card-body">
                <form class="row g-3 needs-validation" [formGroup]="registerForm" novalidate>
                    <div class="col-md-12">
                        <label for="validationCustomNombre" class="form-label">Nombre</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationCustomNombre"
                                aria-describedby="inputGroupPrepend" formControlName="nombre"
                                autocomplete="off"
                                [ngClass]="{'is-invalid': registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched}">
                                @if(registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched){
                                    <div class="invalid-feedback">
                                        Nombre inválido
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustomApellido" class="form-label">Apellido</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationCustomApellido"
                                aria-describedby="inputGroupPrepend" formControlName="apellido"
                                autocomplete="off"
                                [ngClass]="{'is-invalid': registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched}">
                                @if(registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched){
                                    <div class="invalid-feedback">
                                        Apellido inválido
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustomDireccion" class="form-label">Direccion</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationCustomDireccion"
                                aria-describedby="inputGroupPrepend" formControlName="direccion"
                                autocomplete="off"
                                [ngClass]="{'is-invalid': registerForm.get('direccion')?.invalid && registerForm.get('direccion')?.touched}">
                                @if(registerForm.get('direccion')?.invalid && registerForm.get('direccion')?.touched){
                                    <div class="invalid-feedback">
                                        Direccion inválido
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustomCorreo" class="form-label">Correo electrónico</label>
                        <div class="input-group has-validation">
                            <input type="correo" class="form-control" id="validationCustomCorreo"
                                aria-describedby="inputGroupPrepend" formControlName="correo"
                                autocomplete="off"
                                [ngClass]="{'is-invalid': registerForm.get('correo')?.invalid && registerForm.get('correo')?.touched}">
                                @if(registerForm.get('correo')?.invalid && registerForm.get('correo')?.touched){
                                    <div class="invalid-feedback">
                                        Correo inválido
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustomPassword" class="form-label">Contraseña</label>
                        <div class="input-group has-validation">
                            <input type="password" class="form-control" id="validationCustomPassword"
                                aria-describedby="inputGroupPrepend" formControlName="password"
                                autocomplete="off"
                                [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}">
                                @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
                                    <div class="invalid-feedback">
                                        Password inválido
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary" (click)="register()" [disabled]="registerForm.invalid">Registrar</button>
                    </div>
                    <div class="col-md-12">
                        <a type="button" class="btn btn-link" href="javascript:void(0)" [routerLink]="['/login']">Iniciar Sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>